{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>zqbai的图书管理小应用</title>
    <link rel="stylesheet" href="{% static 'books/css/bootstrap.css' %}">

</head>
<body>


    <div style="text-align: center;"><h2 class="my-4">A Tiny Book Management Application by zqbai</h2></div>

    <div class="container my-4">
    <div class="row justify-content-between align-items-center">
        <div class="col-auto">
            <h3 class="col-auto">{% block subtitle %}{% endblock %}</h3>
        </div>
        <div class="col-auto">
            <form action="{% url 'books:index' %}" method="get" class="mb-0">
                <button type="submit" class="btn btn-outline-secondary">Go back Home</button>
            </form>
        </div>
    </div>
</div>


        {% block content %}{% endblock %}


</body>
</html>