<div class="container">
        <div class="card mt-4">
            <div class="card-header bg-secondary text-white">
                <h4>
                    {{ list_title }}
                </h4>
            </div>

            <div class="card-body small" style="height:450px;overflow-y: scroll;">
                {% if books %}
                    <div class="row mb-2 fw-bold border-bottom">
                        <div class="col-1">ID</div>
                        <div class="col-4">Name</div>
                        <div class="col-2"><a href="{% url 'books:category_index' %}" class="text-black text-decoration-none">Category</a> </div>
                        <div class="col-2"><a href="{% url 'books:school_index' %}" class="text-decoration-none text-black">Provided School</a> </div>
                        <div class="col-1">B.Times</div>
                        <div class="col-1">Quantity</div>
                        <div class="col-1">Latest B.</div>
                    </div>
                    {% for book in books %}
                    <div class="row font-monospace mb-2 small">
                        <div class="col-1"><a href="{% url 'books:book_detail' book.id %}">{{ book.id }}</a></div>
                        <div class="col-4"><a href="{% url 'books:book_detail' book.id %}" class="text-black text-decoration-none">《{{ book.name }}》</a></div>
                        <div class="col-2"><a href="{% url 'books:category_detail' book.category.id %}" class="text-decoration-none text-black">{{ book.category }}</a> </div>
                        <div class="col-2" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis"><a href="{% url 'books:school_detail' book.offered_by.id %}" class="text-black text-decoration-none">{{ book.offered_by.name }}</a> </div>
                        <div class="col-1">{{ book.borrow_times_db }}</div>
                        <div class="col-1"> {{ book.available_quantity|stringformat:"02d" }}/{{ book.total_quantity|stringformat:"02d" }}</div>
                        <div class="col-1">{{ book.latest_borrow_date|date:"y-m-d"|default:"None"}}</div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p class="card-text">No books are available.</p>
                {% endif %}
            </div>

        </div>
</div>

