<div class="container">
        <div class="card mt-4">
            <div class="card-header bg-secondary text-white">
                <h4>
                    {{ list_title }}
                </h4>
            </div>

            <form method="GET" class="mx-2">
            <div class="row">
                <div class="col-auto"><label for="pageInput{{ page_param }}" class="mt-3">Enter page number:</label></div>
                <div class="col-2">
                    <input id="pageInput{{ page_param }}" type="number" name="{{ page_param }}" class="form-control mt-3" min="1" max="{{ pages.paginator.num_pages }}" placeholder="Page number" required style="font-size: small" value={{ page|default:None }}>
                </div>
                <input type="hidden" name="{{ other_page_param }}" value="{{ other_page }}">
                <div class="col-auto">
                <button type="submit" class="btn btn-outline-secondary mt-3" style="font-size: small">Go</button>
                </div>
                {% if pages.has_previous %}
                    <div class="col-auto ms-auto">
                        <a style="font-size: small" href="?{{ page_param }}={{ pages.previous_page_number }}&{{ other_page_param }}={{ other_page }}" class="btn btn-outline-secondary mt-3 {% if not pages.has_previous %}disabled{% endif %}">Previous Page</a>
                    </div>
                {% endif %}
{#            这里对最右的格式设置不太一样#}
            </div>
            </form>


            <div class="card-body" style="height:450px;overflow-y: scroll;">
                {% if pages %}
                    <div class="row mb-2 border-bottom fw-bold">
                        <div class="col-1">Stu_ID</div>
                        <div class="col-2">Name</div>
                        <div class="col-1">Sex</div>
                        <div class="col-2"><a href="{% url 'books:school_index' %}" class="text-decoration-none text-black">School</a></div>
                        <div class="col-2"><a href="{% url 'books:major_index' %}" class="text-black text-decoration-none">Major</a></div>
                        <div class="col-1">Grade</div>
                        <div class="col-1">B. Times</div>
                        <div class="col-1">Latest B.</div>
                        <div class="col-1">Latest R.</div>
                    </div>
                    {% for student in pages %}
                    <div class="row font-monospace mb-2 small">
                        <div class="col-1"><a href="{% url 'books:student_detail' student.id %}">{{ student.stu_id }}</a></div>
                        <div class="col-2"><a href="{% url 'books:student_detail' student.id %}" class="text-decoration-none text-black">{{ student.name }}</a></div>
                        <div class="col-1">{{ student.sex }}</div>
                        <div class="col-2" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis"><a href="{% url 'books:school_detail' student.school.id %}" class="text-black text-decoration-none">{{ student.school.name }}</a> </div>
                        <div class="col-2" style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis"><a href="{% url 'books:major_detail' student.major.id %}" class="text-decoration-none text-black"> {{ student.major }} </a></div>
                        <div class="col-1">{{ student.grade }}</div>
                        <div class="col-1">{{ student.borrow_times}}</div>
                        <div class="col-1">{{ student.latest_borrow_date|date:"y-m-d"|default:"None"}}</div>
                        <div class="col-1">{{ student.latest_return_date|date:"y-m-d"|default:"None"}}</div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p class="card-text">No student's data is available.</p>
                {% endif %}
            {% if pages.has_next %}
            <div class="d-flex justify-content-end">
                <a style="font-size: small" href="?{{ page_param }}={{ pages.next_page_number }}&{{ other_page_param }}={{ other_page }}" class="btn btn-outline-secondary mt-3 {% if not pages.has_next %}disabled{% endif %}">Next Page</a>
{#            Django没提供Load more功能#}
            </div>
            {% endif %}
            </div>


        </div>
</div>

