{% extends "books/base_file/base.html" %}

{% block subtitle %}
    Majorooooogle
{% endblock %}

{% block content %}
    <div class="container">
        <div class="card mt-4">
            <div class="card-header bg-secondary text-white">
                <h4>
                    Major List
                </h4>
            </div>

            <div class="card-body">
                {% if majors %}
                    <div class="row mb-2 fw-bold border-bottom">
                        <div class="col-2">ID</div>
                        <div class="col-5">Major</div>
                    </div>
                    {% for major in majors %}
                    <div class="row font-monospace mb-2 small">
                        <div class="col-2">{{ major.id }}</div>
                        <div class="col-5"><a href="{% url 'books:major_detail' major.id %}" class="text-black text-decoration-none">{{ major.name }}</a></div>
                    </div>
                    {% endfor %}
                {% else %}
                    <p class="card-text">No Majors are available.</p>
                {% endif %}
            </div>

        </div>
    </div>


{% endblock content %}